# Core AI/LLM
langchain
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb

# ML Models & NLP
transformers
torch
sentence-transformers
underthesea

# Backend & Web Serving
fastapi
uvicorn
httpx
python-dotenv
huggingface_hub
pydantic-settings
pysqlite3-binary

# UI
streamlit
