# Core AI/LLM
langchain
langchain-core
langgraph
langgraph-checkpoint-sqlite
langchain-google-genai
langchain-huggingface
langchain-chroma
chromadb

# ML Models
transformers
torch
sentence-transformers
underthesea
datasets

# Utils
httpx
python-dotenv
huggingface_hub<0.25
